html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.8;
}
h1,
h2,
h3 {
  font-weight: 900;
  margin: 1rem 0 4rem 0;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.8rem;
}
h3 {
  font-size: 2.8rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

.cliente {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr, 1fr);
}

.cliente-opcion {
  width: 90%;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
option,
select {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.cliente :nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cliente :nth-child(6) {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#btnBuscar,
#btnRegistrar,
#btnCalcularPrecio {
  cursor: pointer;
  background-color: #2d5288;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}
#btnBuscar:hover,
#btnRegistrar:hover,
#btnCalcularPrecio:hover {
  background-color: #1a2e4c;
}

nav {
  background-color: #eee;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff8000;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
#btnRegistrarVenta {
  margin-top: 2rem;
  cursor: pointer;
  background-color: #2d5288;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}
#btnRegistrarVenta:hover {
  background-color: #1a2e4c;
}